body {
    margin: 0;
    background-color: rgb(88, 88, 88);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    border-radius: 100%;
  /*   margin-top: 20%; */
    width: 600px;
    height: 600px;
}

.blue {
    grid-area: azul;
    background-color:rgb(0, 122, 221);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(206, 0, 45);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(253, 255, 111);
    /* border-radius: 100%; */
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(0, 180, 0);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
    
}